Question 1

In [4]:
listl= [10,20,30,40,50,60,70,80]
#i. WAP to add 200 and 300 to L.
listl.append(200)
listl.append(300)
print(listl)

#ii. WAP to remove 10 and 30 from L.
listl.remove(10)
listl.remove(30)
print(listl)

#iii. WAP to sort L in ascending order.
#iv. WAP to sort L in descending order.
listl.sort()
print(listl)

listl.sort(reverse=True)
print(listl)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

Question 2

In [29]:
marks= (45, 89.5, 76, 45.4, 89, 92, 58, 45)
#i.Identify the highest score and its index in the tuple.
hi = marks[0]
hi_i = 0

for i in range(len(marks)):
    if marks[i] > highest:
        highest = marks[i]
        hi_i = i

print("Highest mark is", highest, "at index", hi_i)

# ii. Find the lowest score and count how many times it appears
lo = marks[0]
lo_no = 0

for mark in marks:
     if mark < lo:
        lo = mark

for score in marks:
    if score == lo:
        lo_no += 1

print("Lowest mark is", lo, "its count is ", lo_no)

# iii. Reverse the tuple and return it as a list
rev_l = list(marks[::-1])
print("Reversed scores as a list:", rev_l)


# iv. Check if a specific score '76' (input by the user) is present in the tuple
val = 76
if val in marks:
    val_idx = marks.index(val)
    print("Mark", val, "is present at index", val_idx)
else:
    print("Mark not present in the tuple.")

Highest mark is 92 at index 0
Lowest mark is 45 its count is  2
Reversed scores as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Mark 76 is present at index 2

Question 3

In [47]:
#WAP to create a list of 100 random numbers between 100 and 900. Count and print
#all odd numbers , even and prime numbers :
import random
number = [random.randint(100, 900) for i in range(100)]
print(number)

odd_no = []
eve_no = []
pr_no = []

def is_prime(n):
    if (n <= 1):
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True


for num in number:
    if num % 2 == 0:
        eve_no.append(num)
    else:
        odd_no.append(num)

    if is_prime(num):
        pr_no.append(num)

print("Odd Numbers:",odd_no )
print("Even Numbers:", eve_no)
print("Prime Numbers:", pr_no)
print("Count of Odd Numbers:", len(odd_no))
print("Count of Even Numbers:", len(eve_no))
print("Count of Prime Numbers:", len(pr_no))

[539, 499, 672, 107, 195, 178, 617, 875, 732, 728, 179, 538, 302, 728, 726, 547, 686, 899, 190, 572, 308, 170, 318, 594, 521, 259, 284, 483, 456, 209, 441, 370, 837, 174, 474, 641, 259, 300, 431, 723, 712, 528, 582, 329, 613, 545, 111, 770, 527, 789, 806, 201, 664, 732, 573, 194, 557, 312, 486, 830, 207, 320, 856, 499, 837, 833, 280, 184, 796, 164, 523, 125, 324, 836, 858, 226, 203, 692, 583, 563, 625, 289, 788, 689, 279, 879, 854, 697, 791, 389, 252, 635, 551, 724, 160, 470, 870, 124, 476, 519]
Odd Numbers: [539, 499, 107, 195, 617, 875, 179, 547, 899, 521, 259, 483, 209, 441, 837, 641, 259, 431, 723, 329, 613, 545, 111, 527, 789, 201, 573, 557, 207, 499, 837, 833, 523, 125, 203, 583, 563, 625, 289, 689, 279, 879, 697, 791, 389, 635, 551, 519]
Even Numbers: [672, 178, 732, 728, 538, 302, 728, 726, 686, 190, 572, 308, 170, 318, 594, 284, 456, 370, 174, 474, 300, 712, 528, 582, 770, 806, 664, 732, 194, 312, 486, 830, 320, 856, 280, 184, 796, 164, 324, 836, 858, 226, 692, 788, 854, 252, 724, 160, 470, 870, 124, 476]
Prime Numbers: [499, 107, 617, 179, 547, 521, 641, 431, 613, 557, 499, 523, 563, 389]
Count of Odd Numbers: 48
Count of Even Numbers: 52
Count of Prime Numbers: 14

Question 4

In [49]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

# i. Find the unique scores achieved by both teams (union of sets)
uni = A.union(B)
print("Unique scores ", uni)

# ii. Identify the scores common to both teams (intersection of sets)
com = A.intersection(B)
print("Common scores ", com)

# iii. Find the scores exclusive to each team (symmetric difference)
exc = A.symmetric_difference(B)
print("Exclusive scores ", exc)

# iv. Check if scores of team A are a subset of team B and if team B is a superset of team A
set_b= A.issubset(B)
set_a= B.issuperset(A)
print("Is Team A's scores a subset of Team B?", set_b)
print("Is Team B's scores a superset of Team A?", set_a)

# v. Remove a specific score from Team A if it exists
val = int(input("Enter a score to remove from Team A: "))
if val in A:
    A.remove(val)
    print("Score removed from Team A. Updated Team A scores:", A)
else:
    print("Score  not present ")

Unique scores  {34, 45, 78, 23, 56, 90}
Common scores  {90, 78}
Exclusive scores  {34, 45, 23, 56}
Is Team A's scores a subset of Team B? False
Is Team B's scores a superset of Team A? False
Enter a score to remove from Team A: 90
Score removed from Team A. Updated Team A scores: {56, 34, 78}

Question 5

In [51]:
Student={
      "Name": "Vinayak",
       "Age" : 19 ,
       "City ": "Jammu",
       "Branch" : "COPC",
       "Gender" : "Male",
}
Student["City"]="New York"
print(Student)

{'Name': 'Vinayak', 'Age': 19, 'City ': 'Jammu', 'Branch': 'COPC', 'Gender': 'Male', 'City': 'New York'}